<header class="header">
    <div class="container sml-container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="#"><img src="assets/img/logo.png" /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <!-- <li class="nav-item active">
              <a class="nav-link" href="#" data-toggle="modal" data-target="#login_model">Login <span class="sr-only">(current)</span></a>
            </li> -->
                    <li class="nav-item">
                        <a class="nav-link" href="#">Used Car</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Sell My Car</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Financing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Car Sharing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Car Subscription</a>
                    </li>
                </ul>
            </div>
            <a class="login_user btn" data-toggle="modal" data-target="#login_model"><i
                    class="icofont-user-alt-3"></i></a>
        </nav>
    </div>
</header>

<!-- login Modal -->
<div class="modal fade" id="login_model" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body p-0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="row">
                    <div class="col-lg-6 pr-lg-0">
                        <div class="login-form">
                            <form>
                                <div class="form-input">
                                    <h3>Login Details</h3>
                                    <div class="form-group mb-2">
                                        <label for="exampleInputEmail1">Email address</label>
                                        <input type="email" class="form-control" id="exampleInputEmail1"
                                            aria-describedby="emailHelp">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Password</label>
                                        <input type="password" class="form-control" id="exampleInputPassword1">
                                    </div>
                                    <div class="form-group form-check">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                        <label class="form-check-label" for="exampleCheck1">Check me out</label>
                                        <a href="#" class="forget">Forget Password ?</a>
                                    </div>
                                    <button id="submit" class="btn btn-solid" name="submit">Submit</button>
                                </div>
                                <div class="input-button">
                                    <a href="#" class="btn yellow_btn">Don't Have An Account <span>SignUp</span></a>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-6 pl-0">
                        <div class="right-img">
                            <img src="assets/img/login-popup.jpg" class="img-fluid" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- login Modal end -->